  body {
      font-family: 'Roboto', sans-serif;
      margin: 20px;
      background-color: rgb(218, 239, 218);
      color: #2D2D2D;
    }

    header {
      background-color: #0B9444;
      color: white;
      padding: 20px;
      text-align: center;
    }

    main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 2rem;
}

.intro, .purpose, .scenarios, .color-scheme, .typography {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 25%;
}

.wireframe {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    color: black;
    width: 100%; 
    box-sizing: border-box; 
}

.wireframe-container {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
    gap: 20px;
    flex-wrap: wrap; }

.wireframe-item {
    text-align: center;
    flex: 1; 
    min-width: 300px; 
}

.wireframe-item img {
    max-width: 100%; 
    height: auto;
    border: 1px solid #ccc;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.wireframe h2 {
  text-align: center;
}

section {
  margin-bottom: 40px;
}

footer {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 20px;
}